<style>
#google-map-container {
  height: 600px;
  max-height: 60vh;
  width: 100%;
}
</style>

<h1><%= t('help_now.title') %></h1>
<p><%= t('help_now.enter_address_below') %></p>
<%= text_field_tag :address, nil, id: 'address-input', placeholder: t('help_now.where_do_you_live') %>
<%= image_tag "places.svg", class: 'hero-image', id: 'placeholder-image' %>

<%= form_with(model: @email_notification_subscription, url: :help_now_subscribe, local: true, id: 'email-subscription-form') do |f| %>
  <%= f.label :email, t('help_now.subscription_email_field') %>
  <%= f.email_field :email %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :address_lat %>
  <%= f.hidden_field :address_lon %>
  <%= f.submit "get notified" %>
<% end %>

<div id="google-map-container">
</div>

<%= javascript_pack_tag 'help-now-show' %>
