<h1>Help your neighbors</h1>
<p>
  Because of COVID-19, social distancing is required pretty much everywhere. Some quarantined people are stuck home, and might need help.
  This website lets you ask for help in your local community.
</p>
<%= image_tag "social_distancing.svg", class: 'hero-image' %>

<h2>Do you need help?</h2>
<p>Here is how it works.</p>
<ol>
  <li>You create an help request, explaining who you are and how you need help</li>
  <li>Your help request is shown on our map</li>
  <li>A friendly neighbor notices your request, and starts helping you!</li>
</ol>
<%= link_to "request help now", :new_help_request %>
<%= image_tag "cart.svg", class: 'hero-image' %>

<h2>Do you want to help?</h2>
<p>Great! We need more people like you in this time of crisis. Let's find out who needs help in your community.</p>
<%= link_to "start helping now", :help_now %>
<%= image_tag "neighborhood.svg", class: 'hero-image' %>

