<h1><%= t('home.title') %></h1>
<p><%= t('home.site_description') %></p>
<%= image_tag "social_distancing.svg", class: 'hero-image' %>

<h2><%= t('home.do_you_need_help') %></h2>
<p><%= t('home.how_it_works') %></p>
<ol>
  <li><%= t('home.step1') %></li>
  <li><%= t('home.step2') %></li>
  <li><%= t('home.step3') %></li>
</ol>
<%= link_to t('home.request_help_now'), :new_help_request %>
<%= image_tag "cart.svg", class: 'hero-image' %>

<h2><%= t('home.do_you_want_to_help')%></h2>
<p><%= t('home.do_you_want_to_help_call_to_action') %></p>
<%= link_to t('home.start_helping_now'), :help_now %>
<%= image_tag "neighborhood.svg", class: 'hero-image' %>
