<%= f.label :name, t('help_requests_form.what_is_your_name') %>
<%= f.text_field :name %>

<%= f.label :conditions, t('help_requests_form.do_you_have_conditions') %>
<%= f.collection_check_boxes(:conditions, SpecialCondition.default_conditions, :name, :label) do |box| %>
  <div class="special-condition-option">
    <%= box.check_box %>
    <%= box.label do %>
      <span class="<%= box.object.icon %>"></span>
    <% end %>
  </div>
<% end %>

<%= f.label :address, t('help_requests_form.what_is_your_address') %>
<%= error_message_for(@help_request, :address_coordinates) %>
<%= f.text_field :address %>
<%= f.hidden_field :address_lat, id: 'address-input-lat' %>
<%= f.hidden_field :address_lon, id: 'address-input-lng' %>

<div id="google-map-container">
</div>

<%= f.label :description, t('help_requests_form.what_do_you_need') %>
<%= f.text_area :description, placeholder: t("help_requests_form.what_do_you_need_placeholder"), rows: 5 %>
