<style>
#google-map-container {
  height: 200px;
  width: 100%;
}
</style>

<h1><%= t('help_requests_edit.title') %></h1>
<%= form_with(model: @help_request, url: edit_help_request_path(uuid: @help_request.uuid), local: true) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t('edit') %>
<% end %>
<hr>
<h2><%= t('help_requests_edit.danger_zone') %></h2>
<p><%= t('help_requests_edit.delete_description') %></p>
<%= link_to t('delete'), edit_help_request_path(:uuid => @help_request.uuid), class: "btn btn-danger", method: :delete %>

<%= javascript_pack_tag 'help-requests-form' %>
