<style>
#google-map-container {
  height: 200px;
  width: 100%;
}
</style>

<h1><%= t('help_requests_edit.') %></h1>
<%= form_with(model: @help_request, url: :edit_help_request, local: true) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit t('edit') %>
<% end %>

<%= javascript_pack_tag 'help-requests-form' %>
