<style>
#google-map-container {
  height: 400px;
  width: 100%;
}
</style>

<h1>Ask for help</h1>
<%= form_with(model: @help_request, local: true) do |f| %>
  <%= f.label :name, 'What is your name?' %>
  <%= f.text_field :name %>

  <%= f.label :address, 'What is your address?' %>
  <%= f.text_field :address, id: 'address-input' %>
  <%= f.hidden_field :address_lat, id: 'address-input-lat' %>
  <%= f.hidden_field :address_lon, id: 'address-input-lng' %>

  <div id="google-map-container">
  </div>

  <%= f.label :description, 'What do you need?' %>
  <%= f.text_area :description %>

  <%= f.submit 'Create' %>
<% end %>

<%= javascript_pack_tag 'create-help-requests' %>
