<style>
#google-map-container {
  height: 200px;
  width: 100%;
}
</style>

<h1>Ask for help</h1>
<%= form_with(model: @help_request, url: :help_requests, local: true) do |f| %>
  <%= f.label :name, 'What is your name?' %>
  <%= f.text_field :name %>

  <%= f.label :conditions, 'Do you have any special conditions?' %>
  <%= f.collection_check_boxes(:conditions, special_conditions, :name, :label) do |box| %>
    <div class="special-condition-option">
      <%= box.check_box %>
      <%= box.label do %>
        <span class="<%= box.object.icon %>"></span>
      <% end %>
    </div>
  <% end %>

  <%= f.label :address, 'What is your address?' %>
  <%= f.text_field :address %>
  <%= f.hidden_field :address_lat, id: 'address-input-lat' %>
  <%= f.hidden_field :address_lon, id: 'address-input-lng' %>

  <div id="google-map-container">
  </div>

  <%= f.label :description, 'What do you need?' %>
  <%= f.text_area :description, placeholder: "Give some context on your situation, and what you need from your local community.", rows: 5 %>

  <%= f.submit 'Create' %>
<% end %>

<%= javascript_pack_tag 'help-requests-new' %>
