<style>
#google-map-container {
  height: 200px;
  width: 100%;
}
</style>

<h1><%= t('help_requests_new.title') %></h1>
<%= form_with(model: @help_request, url: :new_help_request, local: true) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>

  <%= f.hidden_field :security_number %>
  <h3><%= t('security_number') %></h3>
  <p><%= t('help_requests_new.security_number_description') %></p>
  <code><%= @help_request.pretty_security_number %></code>
  <p><%= t('help_requests_new.security_number_tldr_html') %></p>

  <%= f.submit t('create') %>
<% end %>

<%= javascript_pack_tag 'help-requests-form' %>

