<style>
#google-map-container {
  height: 400px;
  width: 100%;
}
</style>

<h2>Name of your neighbor </h2>
<p><%= @help_request.name %></p>

<h2>What your neighbor needs</h2>
<p class="white-spaces"><%= @help_request.description %></p>

<h2>Address</h2>
<p><%= @help_request.address %></p>

<div id="google-map-container">
</div>

<input id="help-request-lat" type="hidden" value="<%= @help_request.address_lat %>">
<input id="help-request-lon" type="hidden" value="<%= @help_request.address_lon %>">

<%= javascript_pack_tag 'help-requests-show' %>
