<style>
#google-map-container {
  height: 400px;
  width: 100%;
}
</style>

<h2><%= t('help_requests_show.name') %></h2>
<p class="capitalize"><%= @help_request.name %></p>

<% unless @help_request.special_conditions.empty? %>
  <h2><%= t('help_requests_show.special_conditions') %></h2>
  <% @help_request.special_conditions.each do |condition| %>
    <div class="special-condition">
      <span class="<%= condition.icon %>"></span>
    </div>
  <% end %>
<% end %>

<h2><%= t('help_requests_show.what_this_person_needs') %></h2>
<p class="white-spaces"><%= @help_request.description %></p>

<h2><%= t('help_requests_show.address') %></h2>
<p><%= @help_request.address %></p>

<div id="google-map-container">
</div>

<%= link_to t("help_requests_show.edit"), edit_help_request_path(:id => @help_request.id) %>

<input id="help-request-lat" type="hidden" value="<%= @help_request.address_lat %>">
<input id="help-request-lon" type="hidden" value="<%= @help_request.address_lon %>">

<script id="help-request-conditions" type="application/json">
<%= raw(@help_request.special_conditions.to_json) %>
</script>

<%= javascript_pack_tag 'help-requests-show' %>
