<!DOCTYPE html>
<html>
  <head>
    <title>helpaneighbor.ca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1E-jEgtdh_zQX2kHR3arevxr1mnk5TSU&libraries=places"></script>
  </head>

  <body>
    <main>
      <nav id="main-nav">
        <strong><%= link_to "helpaneighbor.ca", :homepage %></strong>
        <div>
          <%= link_to t("navbar.i_need_help"), :new_help_request %>
          <%= link_to t("navbar.i_want_to_help"), :help_now %>
        </div>
      </nav>

      <div id="container">
        <% flash.each do |type, msg| %>
          <div class="flash flash-<%= type %>"><%= msg %></div>
        <% end %>

        <%= yield %>
      </div>

      <footer>helpaneighbor.ca</footer>
    </main>
  </body>
</html>
