<!DOCTYPE html>
<html>
  <head>
    <title>HelpaneighborCa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <nav id="main-nav">
        <strong><%= link_to "Helpaneighbor.ca", :homepage %></strong>
        <div>
          <%= link_to "I need help" %>
          <%= link_to "I want to help" %>
        </div>
      </nav>

      <div id="container">
        <%= yield %>
      </div>

      <footer>
        Helpaneighbor.ca
      </footer>
    </main>
  </body>
</html>
